<div class="informacion-container">
  <section class="descripcion mat-elevation-z2">
    <h2>Quiénes somos</h2>
    <p>{{ descripcion }}</p>
  </section>

  <section class="empleados">
    <div class="empleado-card mat-elevation-z2" *ngFor="let emp of empleados">
      <img [src]="emp.imagen" alt="Foto de {{ emp.nombre }}">
      <h4>{{ emp.nombre }}</h4>
      <p>{{ emp.especialidad }}</p>
    </div>
  </section>
</div>
<!-- Footer -->
<footer class="footer">
  <div class="footer-text">
    <div class="social-links">
      <a href="https://www.instagram.com/clinicapatitasfelices" target="_blank">
        <i class="fab fa-instagram"></i> &#64;clinicapatitasfelices
      </a>
      <a href="https://www.facebook.com/clinicapatitasfelices" target="_blank">
        <i class="fab fa-facebook"></i> &#64;clinicapatitasfelices
      </a>
      <a href="https://www.twitter.com/clinicapatitasfelices" target="_blank">
        <i class="fab fa-twitter"></i> &#64;clinicapatitasfelices
      </a>
    </div>
    <div>
      Contacto: patitasfelices&#64;clinicaveterinaria.com
    </div>
    <div>
      Debe aceptar términos y condiciones
    </div>
  </div>
</footer>
