<div class="sugerencia-container">
    <section class="intro-text mat-elevation-z2">
      <p>Si tienes sugerencias o comentarios, ¡nos encantaría escucharlos!</p>
    </section>
  
    <section class="formulario mat-elevation-z2">
      <form [formGroup]="sugerenciaForm" (ngSubmit)="enviarSugerencia()">
        <mat-form-field appearance="fill">
          <mat-label>Nombre</mat-label>
          <input matInput formControlName="nombre" required>
        </mat-form-field>
  
        <mat-form-field appearance="fill">
          <mat-label>Correo</mat-label>
          <input matInput formControlName="correo" type="email" required>
        </mat-form-field>
  
        <mat-form-field appearance="fill">
          <mat-label>Sugerencia</mat-label>
          <textarea matInput formControlName="sugerencia" rows="4" required></textarea>
        </mat-form-field>
  
        <button mat-raised-button color="primary" type="submit">Enviar</button>
      </form>
    </section>
    
  </div>

  <!-- Footer -->
<footer class="footer">
  <div class="footer-text">
    <div class="social-links">
      <a href="https://www.instagram.com/clinicapatitasfelices" target="_blank">
        <i class="fab fa-instagram"></i> &#64;clinicapatitasfelices
      </a>
      <a href="https://www.facebook.com/clinicapatitasfelices" target="_blank">
        <i class="fab fa-facebook"></i> &#64;clinicapatitasfelices
      </a>
      <a href="https://www.twitter.com/clinicapatitasfelices" target="_blank">
        <i class="fab fa-twitter"></i> &#64;clinicapatitasfelices
      </a>
    </div>
    <div>
      Contacto: patitasfelices&#64;clinicaveterinaria.com
    </div>
    <div>
      Debe aceptar términos y condiciones
    </div>
  </div>
</footer>
